h1{
    height: 100vh;
    left: 100vh;
    font-size: 2em;
    text-align: center;
    font-family: 'arial';
}
 a {
    color: rgb(199, 99, 22);
    text-decoration: none;
}

body{
    height: 100vh;
    background: #757171;
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0e9e9e7;
    overflow: hidden;

}
.ticker{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 60px;
    margin: 0 auto;
}

.news{
    width: 80%;
    background: #3f05a3;
    padding: 0 2%;
}

.title{
    width: 10%;
    text-align: center;
    background: #141414;
    position: relative;
}

.title::after{
    position: absolute;
    content: "";
    right: -15%;
    border-left: 13px solid burlywood;
    border-top: 30px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 30px solid transparent;
    top: 0;
}

.title h5{
    font-size: 18px;
    margin: 8% 0;
}

.news marquee{
    font-size: 18px;
}

